@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');



body {
  margin: 0;
  font-family: 'VT323', monospace !important;
  background-image: url("/resources/images/background-img2.jpg");
  background-attachment: fixed !important;
  font-size: 24px !important;
  color: white !important;
  border-radius: 20%;
  background-color: #DB3334 !important;
}

.path {
  /* transform: rotate(90deg); */
  position: sticky;
  width: 100%;
  height: 100px;
  background: #333;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.path::after {
  content: "";
  position: absolute;
  display: block;
  border-top: 12px dotted white;
  width: 90%;
  top: 50%;
  left: 5%;
  margin-top: -6px;
}

.pacman {
  position: absolute;
  z-index: 99;
  top: 50%;
  animation: moveForward 5s linear infinite;
  animation-delay: 0.3s;
}

.pacman::before,
.pacman::after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  border: solid 30px yellow;
  margin-top: -30px;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  animation: mouthTop 0.7s ease infinite;
}

.pacman::after {
  border-color: yellow;
  border-right-color: transparent;
  border-top-color: transparent;
  animation: mouthBottom 0.7s ease infinite;
}

.ghost {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 20%;
  height: 70px;
  width: 60px;
  margin-top: -35px;
  background: red;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  animation: moveForward 5s linear infinite, blinky 0.5s linear infinite;
}

.ghost::before,
.ghost::after {
  content: "";
  position: absolute;
  background: white;
  height: 25px;
  width: 20px;
  border-radius: 100%;
  top: 15px;
}

.ghost::after {
  left: 28px;
}

.eyes::before,
.eyes::after {
  content: "";
  position: absolute;
  background: blue;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  top: 25px;
  left: 5px;
  z-index: 99;
}

.eyes::after {
  left: 30px;
}

.second-st {
  padding: 50px;
  border: solid hotpink 4px;
  border-radius: 20%;
  border-width: thick;
  background-color: black;
}

.inner-outline {
  outline: 10px solid hotpink;
  outline-offset: -30px;
}


img {
  /** max-width:100%; height:auto; **/
  max-width: 400px;
  margin: 0 10px;
  border: solid black 1px;
  border-radius: 10%;
}

h1 {
  color: white;
  position: relative;
  text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
  animation: blink 2s steps(5, start) infinite
}

@keyframes blink {
  to {
    visibility: hidden;

  }
}

h2 {
  color: wheat;
  position: relative;
  text-shadow: 0px 3px 18px #5649ab;
}


a {
  text-decoration: none;
  color: lightslategray;
}



.image-desc {
  border: dashed darkgoldenrod 2px;
  border-radius: 5%;
  font-size: 16px;
  font-style: italic;
  margin: 5px;
  transition: all .2s ease-in-out;

}

.vl {
  border-left: 6px solid hotpink;
  border-radius: 6px;
  height: 84vh;
}


@keyframes moveForward {
  0% {
    left: -20%;
  }

  100% {
    left: 100%;
  }
}

@keyframes mouthTop {
  50% {
    transform: rotate(44deg);
  }
}

@keyframes mouthBottom {
  50% {
    transform: rotate(-44deg);
  }
}

@keyframes blinky {
  50% {
    background: hotpink;
  }
}


/* scrollbar */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 238, 0) rgb(17, 16, 13);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(17, 16, 13);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(255, 238, 0);
  border-radius: 20px;
  border: 3px solid rgb(17, 16, 13);
}